#game-board img {
	width: 25%; /* */
	height: 25%;
	padding: 4px;
}

h1 {
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
}

p {
	display: inline;
	font-size: 150%;
	padding-left: 10px;
}